fieldset {
	margin-bottom: 0.5em;
}

.login-info {
	float: right;
}

.main_instructions {
	font-family: serif;
}

.status_message {
	font-family: serif;
	display: block;
}

.remove_member {
	color: #800000;
}

.remove_member:hover {
	background-color: white;
	cursor: hand;
}

button.dirty_save_button {
	border: 3px solid rgb(150,60,60);
    background-color: rgb(180,80,80);
    color: white;
}

#current_members_box {
	border: 5px solid rgb(255,255,150);
	border-radius: 5px;
    background-color: rgb(255,255,220);
	padding: 0.3em;
}

#group_list {
	border-radius: 5px;
    background-color: rgb(120,120,255);
	list-style-type: none;
	margin: 0.5em;
	padding: 0.5em;
}

#group_list li {
	font-weight: bold;
	background-color: rgb(200,200,255);
	margin-top: .3em;
	margin-bottom: .3em;
	padding: .3em;
	border-radius: 4px;
}

#group_list li:hover {
	background-color: rgb(240,240,255);
}

#group_list li:active {
	background-color: rgb(255,160,160);
}

#outer_grouplist_container {
	padding: 0.5em; 
	margin: 0.4 em;
    border-radius: 5px;
    background-color: rgb(240,240,255);
}

#left {
    width: 225px;
    float: left;
}

#right {
    margin-left:250px; /* Change this to whatever the width of your left column is*/
}

.clear {
    clear: both;
}