fieldset {
	margin-bottom: 0.5em;
}

#container td {
	vertical-align: top;
}

.login-info {
	float: right;
}

.status_message {
	font-family: serif;
	display: block;
}

.remove_member {
	color: #800000;
}

.remove_member:hover {
	background-color: white;
	cursor: hand;
}

button.dirty_save_button {
	border: 3px solid rgb(150,60,60);
    background-color: rgb(180,80,80);
    color: white;
}

button.dirty_save_button:active {
    background-color: rgb(255,150,150);
    color: black;
}

.proficiency_chiclet {
	border-radius: 4px;
    background-color: rgb(255,220,150);
    padding: 2px;
    font-size: x-small;
}

.group_tag {
	border-radius: 5px;
    background-color: rgb(255,220,150);
    padding: 2px;
}

#current_members_box {
	border: 5px solid rgb(255,255,150);
	border-radius: 5px;
    background-color: rgb(255,255,220);
	padding: 0.3em;
    overflow-y: scroll;
    max-height: 500px;
}

#members_holder {
	list-style-type: none;	
}

#group_list {
	border-radius: 5px;
    background-color: rgb(120,120,255);
	margin: 0.5em;
	padding: 0.5em;
	list-style-type: none;
    overflow-y: scroll;
    max-height: 500px;
}

#group_list li {
	background-color: rgb(200,200,255);
	margin-top: .2em;
	margin-bottom: .2em;
	padding: .2em;
	border-radius: 4px;
}

#group_list li:hover {
	background-color: rgb(240,240,255);
}

#group_list li:active {
	background-color: rgb(255,160,160);
}

#outer_grouplist_container {
	padding: 0.5em; 
	margin: 0.4 em;
    border-radius: 5px;
    background-color: rgb(240,240,255);
}

.clear {
    clear: both;
}